spring:
  cloud:
    gateway:
      discovery.locator.enabled: true
      routes:
        - id: main_service_route
          uri: lb://main-service
          predicates:
            - Path=/**
          filters:
            - name: Retry
              args:
                retries: 3
                statuses: BAD_GATEWAY,NOT_FOUND
                methods: GET

server:
  port: 8080

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    reactor.netty.http.client: DEBUG