spring:
  cloud:
    gateway:
      discovery.locator.enabled: true
      routes:
        - id: requests_service_route
          uri: lb://request-service
          predicates:
            - Path=/users/*/requests, /users/*/events/*/requests, /users/*/requests/**
        - id: user_service_route
          uri: lb://user-service
          predicates:
            - Path=/admin/users, /admin/users/**
        - id: main_service_route
          uri: lb://main-service
          predicates:
            - Path=/**
          filters:
            - name: Retry
              args:
                retries: 3
                statuses: BAD_GATEWAY,NOT_FOUND
                methods: GET

server:
  port: 8080

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    reactor.netty.http.client: DEBUG