server:
  port: 0

# actuator
management:
  endpoints:
    web:
      exposure:
        include: "health,info,mappings"
  endpoint:
    mappings:
      enabled: true

spring:
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    show-sql: false
  sql:
    init:
      mode: always
  datasource:
    driver-class-name: org.postgresql.Driver
    # url: jdbc:postgresql://postgres-ewm-main-db:5432/events-db # Вариант 1: Использовать имя контейнера и внутренний порт (если запускаем в контейнере)
    url: jdbc:postgresql://localhost:5434/events-db # Вариант 2: Использовать localhost и внешний порт (если запускаем на хосте)
    username: dbuser
    password: 123456

logging:
  level:
    ru.practicum.events: DEBUG


